.blogSection {
  width: 100%;
  background-color: #509D5E;
  padding: 4rem 2rem;
  box-sizing: border-box;
}

.mainHighlight {
  display: flex;
  gap: 0;
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 0;
}

.mainContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  gap: 1rem;
}

.mainImage {
  width: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font-size: 2rem;
  min-height: 360px;
}

.mainCategory {
  font-size: 0.85rem;
  color: #000000;
}

.mainTitle {
  font-size: 2.8rem;
  color: #000000;
  font-weight: 800;
  line-height: 120%;
}

.mainDescription {
  font-size: 1rem;
  color: #000000;
  line-height: 1.5;
}

.mainAuthor {
  font-size: 0.85rem;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.mainAuthor img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ddd;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filters button {
  background-color: #ffffff;
  border: 1.5px solid #000;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.filters a {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-color: #000000;
}

.filters button:hover {
  background-color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-bottom: 3rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.cardImage {
  height: 160px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #999;
}

.cardContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardCategory {
  font-size: 0.75rem;
  color: #777;
}

.cardTitle {
  font-weight: 600;
}

.cardAuthor {
  font-size: 0.75rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagePlaceholder {
  width: 95%;
  background-color: #ddd;
  color: #aaa;
  display: flex;
  overflow: hidden;
}
