.eventCard {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.2px solid #000000;
  background-color: #ffffff;
  max-width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 60px;
}

.weekday {
  font-size: 0.85rem;
  font-weight: 400;
}

.day {
  font-size: 1.5rem;
  font-weight: 600;
}

.month {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 400;
}

.right {
  flex: 1;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  border-left: 1px solid #000000; /* linha */
}

.title {
  font-weight: bold;
  font-size: 1rem;
}

.category {
  font-size: 0.7rem;
  margin-left: 0.5rem;
  background: #ddd;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
}

.location {
  font-size: 0.85rem;
  margin: 0.4rem 0;
}

a {
  text-decoration: none;
  font-weight: normal;
  font-size: 0.85rem;
  color: #000;
}

a:hover {
  text-decoration: underline;
}
