.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: #D9F4AF;;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
}

.card {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.imagePlaceholder {
    height: 20px;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #999;
    overflow: hidden;
}

.info {
    padding: 1rem;
}

.tags {
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.tag {
    background-color: #ececec;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

.time {
    color: #666;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: left;
}

.description {
    font-size: 0.9rem;
    color: #333;
}

.readMore {
    margin-top: 0.75rem;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 0.85rem;
}