.card {
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
	border-radius: 12px;
	overflow: hidden;
	transition: transform 0.3s ease;
	height: 100%;
}

.card:hover {
	transform: translateY(-5px);
}

.imageWrapper {
	height: 50%;
	overflow: hidden;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.content h3 {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: -0.72px;
	margin: 0 0 8px;
}

.content p {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 12px;
}

.tags {
	margin: 12px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.tag {
	background: #e0e0e0;
	border-radius: 4px;
	padding: 4px 8px;
	margin-right: 4px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%; /* 21px */
}

.button {
	background: none;
	border: none;
	color: #000;
	cursor: pointer;
	padding: 0;
	font-size: 1rem;
    font-weight: 600;
}
