.partnersSection {
	padding: 64px 32px;
	text-align: center;
	background-color: #fff;
}

.title {
	align-self: stretch;
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 40px;
	line-height: 48px;
	/* 100% */
	letter-spacing: -1.44px;
	color: #000;
}

.logos {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 48px;
	flex-wrap: wrap;
}

.logos img {
	width: 120px;
	height: 40px;
	object-fit: contain;
}