@font-face {
  font-family: 'Unageo';
  src: url('./assets/fonts/Unageo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Unageo', sans-serif;
  background-color: transparent;
}